ion-title {
    --color: white;
}

ion-button {
    --color: #FF521B;
    font-weight: bold;
}

ion-menu-button {
    --color: white;
}

ion-toolbar {
    --background: #020122;
}

.card {
    text-align: center;
}

.text {
    font-family: 'montserrat-regular';
}


.image {
    width: 70px;
    border-radius: 50%;
    margin: 8px;
}