ion-menu-button {
    --color: white;
}

ion-toolbar {
    --background: #020122;
}

ion-title {
    --color: white;
}

.text {
    font-family: 'montserrat-regular';
}

.card {
    text-align: center;
}

img {
    margin: 10px auto;
    border-radius: 50%;
}