<ion-content>

  <div padding>
    <p class="title">
      KIWI
    </p>
  </div>

  <div padding>
    <img class="image" src="../../../assets/icon/kiwi.svg" />
  </div>

  <form>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input [(ngModel)]="creds.email" class="text-input" name="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="key-outline"></ion-icon>
              <ion-input [(ngModel)]="creds.senha" class="text-input" name="password" type="password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="bt-entrar" type="submit" expand="block" (click)="login()">Entrar</ion-button>
          </div>
          <div padding>
            <ion-button class="bt-registrar" expand="block" (click)="signup()">Registrar</ion-button>
          </div>
          <div padding>
            <p>Esqueceu a senha?</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>